table{
    font-size: 6em;
    width: 65% !important;
    height: 35% !important;
}

td{
    outline: 7px solid #000000;
    outline-offset: -0.3em; 
}

.colHead{
    display: none;
}

.colNome{
    width: 60%;
}

.colData{
    width: 20%;
}